@mixin flex-center {
  display: flex;
  justify-content: center;
}

.paginator {
  @include flex-center;

  .paginatorWrapper {
    @include flex-center;
    align-items: center;
    margin: 10px 0 10px;

    .pages {
      cursor: pointer;
      min-width: 300px;
      display: flex;
      justify-content: space-around;
      padding: 0 10px;

      span {
        /* */
      }

      .selectedPage {
        color: gold !important;
        font-weight: bold;
      }

      .pageNumber {
        color: white;
      }
    }

    .btnBlock {
      width: 50px;

      .btn {
        height: 30px;
        width: 50px;
      }
    }
  }
}
