.header {
    grid-area: h;
    background-color: rgb(70, 206, 70);

    img {
        width: 75px;
    }
}

.loginBlock {
    float: right;
    margin: 15px 20px 0 0;

    span {
        color: darkblue;
        font-size: 18px;
    }
}